<% include partials/header%>

<% if(data.Response!="False"){%>
  <div class="results">
  <div class="container" id="container">
<%for(var i=0; i< data["Search"].length; i++){%>
  <% if(i==0){%>
    <div class="row align-items-center">
    <%}%>
    <div class="col-6 col-sm-6 col-md-6 col-lg-4">
      <div class="thumbnail">
        <img class="poster" src="<%=data["Search"][i].Poster%>" alt="<%=data["Search"][i].Title%>">
      </div>
      <div class="caption">
        <p class="title"><%=data["Search"][i].Title%></p>
        <h4 class="info">Year : <%=data["Search"][i].Year%></h4>
        <h4 class="info">Type : <%=data["Search"][i].Type%></h4>
        <h4 class="info"><a href="<%="https://www.imdb.com/title/"+data["Search"][i].imdbID%>" target="_blank">Know More..</a></h4>
      </div>
    </div>
<% if(i==data["Search"].length-1){%>
</div>
<%}%>
<%}%>
</div>
</div>
<%}%>

<% include partials/footer%>
